[submodule "src/vim"]
	path = src/vim
	url = git@github.com:ranguli/vim.git
[submodule "src/dwm"]
	path = src/dwm
	url = git@github.com:ranguli/dwm
[submodule "src/dunst"]
	path = src/dunst
	url = https://github.com/dunst-project/dunst
